@font-face {
    font-family: "Codec Pro Thin";
    src: url(font/CodecPro-Thin.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: "Codec Pro Thin", Verdana, Tahoma;
    color: white;
    font-size:100%;
    overflow-x: hidden;
    
  }

.page-title-1 {
    font-size: 7rem;
}

.page-title-2 {
    font-size: 3.5rem;
}

.bio-text {
    font-size: 1rem;
    font-weight: 500;
    width: 57%;
    line-height: 18pt;
    text-overflow: ellipsis;
    overflow: hidden;
}

p {
    font-size: 3rem;
}

.page {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* First Page */

#index-page {
    background-image: url(img/50.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

#index-page .page-title-1 {
    margin-bottom: 6%;
    margin-right: 20%;
}

#index-page span {
    display: grid;
    margin-bottom: 5%;
}

.language-link {
    padding: 15px;
}


a {
    font-size: 2rem;
    color: white;
}

a:link:visited:hover:active {
    text-decoration: underline; color: white;
}

.page-link {
    font-size: 2rem;
}

/* Second Page */

#second-page {
    display: flex;
    background-color: #746962;
}

#second-page img {
    height: 100%;
    max-width: 100%;
    margin-right: 0;
    position: relative;
    right: 8%;
}

#second-page span {
    height: 25px;
    position: relative;
    left: 12%;
    top: 10%;
}


#third-page {
    background-image: url(img/artworks.jpg);
    color: #d3c9c2;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#fourth-page {
    background-image: url(img/57.jpg);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

#fourth-page-items {
    margin: 2%;
    text-align: right;
}

#fourth-page-items p, #fourth-page-items a{
    margin-bottom: 5%;
}

.page-link {
    display: block;
}

#fifth-page {
    background-image: url(img/43.jpg);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

#fifth-page span {
    margin-bottom: 8%;
    margin-right: 5%;
}

#fifth-page span p{
    margin-bottom: 5%;
}


#fifth-page span a{
    margin-top: 10%;
    align-self: left;
}


#sixth-page {
    background-image: url(img/75.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#sixth-page-items {
    align-self: flex-end;
    margin: 5%;
    text-align: right;
}

#sixth-page-items p {
    margin-bottom: 4%;
}

#sixth-page-items a {
    margin-bottom: 4%;
}

#seventh-page {
    background-image: url(img/81.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end
}

#seventh-page-items {
    margin: 5%;
    text-align: right;
}

#seventh-page-items p {
    margin-bottom: 4%;
}

#eighth-page {
    background-image: url(img/74.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end
}

#eighth-page-items{
    margin: 5%;
}

#eighth-page-items p{
    margin-bottom: 5%;
}

#ninth-page {
    background-image: url(img/38.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end
}

#ninth-page-items {
    margin: 5%;
    text-align: right;
}

#ninth-page-items p{
    margin-bottom: 5%;
}

#tenth-page {
    background-image: url(img/36.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#tenth-page-items {
    margin: 3%;
}

#tenth-page-items a {
    margin-top: 1%;
}

#eleventh-page {
    background-image: url(img/0000.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end
}

#eleventh-page-items {
    margin: 2%;
    text-align: right;
}

#eleventh-page-items p, #eleventh-page-items a {
    margin-bottom: 4%;
}


#twelft-page {
    background-image: url(img/1.jpg);
    display: flex;
}

#twelft-page-items {
    margin: 5%;
}

#twelft-page-items p{
    margin-bottom: 2%;
}

#link-of-interest {
    background-image: url(img/links-of-interest.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-page {
    background-image: url(img/contact.jpg);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

#contact-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-right: 5%;
}


.page-link-2 {
    font-size: 2.5rem;
    text-decoration: none;
    margin-top: 10px;
}


@media (min-width: 320px) and (max-width: 768px) {
    .page-title-1 {
        font-size: 4.5rem;
    }

    #second-page img {
        height: 50%;
        margin-top: 23%;
    }

    #second-page span {
        height: 30%;
        bottom: 100%;
    }

    .bio-text {
        font-size: 10px;
        line-height: 10px;
    }

    #third-page .page-title-1 {
        font-size: 2.5rem;
    }

    .page-title-2 {
        font-size: 2rem;
    }

    p {
        font-size: 0.50rem;
    }

    a {
        font-size: 1.3rem;
    }

    .page-link {
        font-size: 1rem;
    }

    #contact-page {
        font-size: 1.1rem;
    }

    .page-link-2 {
        font-size: 1.1rem;
        margin-top: 10px;
    }
  }

  @media (min-width:320px) and (max-width: 801px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    #second-page img {
        height: 20%;
        margin-top: 23%;
    }

}