@font-face {
    font-family: "Codec Pro Thin";
    src: url(font/CodecPro-Thin.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: "Codec Pro Thin", Verdana, Tahoma;
    color: white;
    
  }

.page-title-1 {
    font-size: 100px;
}

.page-title-2 {
    font-size: 60px;
}

#bio-text {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 30px;
}

.page {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* First Page */

#index-page {
    background-image: url(img/50.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

#index-page .page-title-1 {
    margin-bottom: 6%;
    margin-right: 20%;
}

#index-page span {
    display: block;
}

#main-title {
    font-size: 80px; font-weight: 400; font-style: normal; text-decoration: none;
}


a {
    font-size: 20px;
    color: white;
}

a:link:visited:hover:active {
    text-decoration: underline; color: white;
}

.page-link {
    font-size: 30px;
}

/* Second Page */

#second-page {
    display: flex;
    background-color: #746962;
    justify-content: center;
}

#second-page img {
    height: 100%;
}

#second-page span {
    display: flex;
    flex-direction: column;
}

#third-page {
    background-image: url(img/artworks.jpg);
    color: #d3c9c2;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#fourth-page {
    background-image: url(img/57.jpg);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


#fifth-page {
    background-image: url(img/43.jpg);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

#fifth-page span {
    margin-bottom: 8%;
    margin-right: 5%;
}

#fifth-page span a{
    margin-top: 20%;
    align-self: left;
}


#sixth-page {
    height: 100%;
    background-color: #746962;
}

#seventh-page {
    background-image: url(img/81.jpg);
}

#eighth-page {
    background-image: url(img/74.jpg);
}

#ninth-page {
    background-image: url(img/38.jpg);
}

#tenth-page {
    background-image: url(img/36.jpg);
}


#eleventh-page {
    background-image: url(img/0000.jpg);
}

#twelft-page {
    background-image: url(img/1.jpg);
}

#link-of-interest {
    background-image: url(img/links-of-interest.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-page {
    background-image: url(img/contact.jpg);
}